@import '../node_modules/reset-css/sass/reset';

html {
  text-size-adjust: 100%;
  font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

html, body {
  font-family: "Lucida Sans Unicode", sans-serif;
  font-size: 14px;
  height: 100%;
  line-height: 1.5rem;
  background-color: #f3f3f3;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
}



